<html>
<head>
  <title>Friends</title>
  <style>
  .datavalue{
    position: relative;
    left:50px;
  }
  .datevalues{
    position: relative;
    left:100px;
  }
  .datevalue3{
    margin-left: 50px;
  }
  </style>
</head>
<body>
  <h1>These are all my friends!</h1>
  <!-- with all the data we can then construct a more structured output -->

    <table style= "width:50%">
      <tr>
        <th>id</th>
        <th>fullname</th>
        <th>age</th>
        <th>friend since</th>
      </tr>
      {% for friends in all_friends: %}
      <tr>
        <td class="datavalue1">{{ friends['id'] }}</td>
        <td class="datavalue">{{ friends['name'] }}</td>
        <td class="datavalues">{{ friends['age'] }}</td>
        <td class="datavalue3">{{ friends['created_at'] }}</td>
      </tr>
      {% endfor %}
    </table>
     <hr><br>
  <hr>
  <h2>Add a Friend</h2>
  <form action='/friends' method='POST'>
    <label for="fullname">First Name:<input type="text" name="fullname" id="fullname"></label>
    <label for="age">age:<input type="text" name="age" id="age"></label>
    <input type="submit" value="Add">
  </form>
</body>
</html>
