<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Message Board</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <style>
      #submit{
        display:table;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#1a1a1a; color:#e4e4e4;">
       <div class="container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
           <h3 style="vertical-align:top; display:inline-block;">Welcome {{request.session.first_name}}!</h3>
           <ul class="nav navbar-nav navbar-right">
             <li><a href="/meetups" style="color:#e4e4e4;">Meetups</a></li>
             <li><a href="/messageboard" style="color:#e4e4e4;">Message Board</a></li>
             <li><a href="/social" style="color:#e4e4e4;">Social</a></li>
             <li><a href="/deals" style="color:#e4e4e4;">Deals</a></li>
             <li><a href="/logout" style="color:skyblue;">Logout</a></li>
           </ul>
         </div>
       </div>
     </nav>
   </div>

    <h1>THIS IS MESSAGEBOARD</h1>
    <h1>NEW MESSAGE</h1>
    <form action="/messageboard/message/add_message" method="post">
      {% csrf_token %}
      <textarea placeholder="What's on your mind, {{request.session.first_name}}?" name="message" rows="4" cols="60"></textarea>
      <input id="submit" type="submit" value="Post">
    </form>
    {% for message in messages_list %}
      <h3>{{message.message}} - {{message.user.first_name}} {{message.user.last_name}}</h3>
      {% for comment in comments_list %}
        {% if message.id == comment.message.id %}
          <p>{{comment.comment}} - {{comment.user.first_name}} {{comment.user.last_name}}</p>
        {% endif %}
      {% endfor %}
      <form action="/messageboard/message/{{message.id}}/add_comment" method="post">
        {% csrf_token %}
        <textarea placeholder="Write a comment..." name="comment" rows="2" cols="30"></textarea>
        <input type="submit" value="Comment">
      </form>
    {% endfor %}
  </body>
</html>
