<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile of quotes</title>
  </head>
  <body>
    <p>Posted by: {{name.name}}</p>
    <!-- <p>Count: {{name.count}}</p> -->
    <form class="" action="/quotedash" method="post">
      {% csrf_token %}
      <input type="submit" name="" value="Dashboard">
    </form>
    <form class="" action="/logout" method="post">
      {% csrf_token %}
      <input type="submit" name="" value="Logout">
    </form>

    {% for quote in quotes %}
    <div class="">
      <span>{{quote.quotedby}}: </span><span>{{quote.quote}} </span>
    </div>
    {% endfor %}
  </body>
</html>
