<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Posts!</title>
  </head>
  <body>
<!-- welcome to the page -->
    <h4>Welcome {{user_fname}}</h4>
    {% if messages %}
	<ul class="messages">
	    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
    {% endif %}
     <!-- below is the logout button -->
     {% csrf_token %}
    <form class="" action="/logout" method="post">
      {% csrf_token %}
      <button>Logout</button>
<!-- posting area -->
    </form>
    <form class="" action="/post" method="post">
      <label for="posting">Please write your secret below!</label>
      {% csrf_token %}
      <textarea name="posting" rows="8" cols="80"></textarea>
      <button>Post</button>
      <h1>Your Posts!</h1>
    </form>
<!-- post display area -->
    {%for post in postcont%}
      <div class="userposts">
        <p>{{post.postcontent}}</p>
        <p>{{post.created_at}}</p>
        <p>{{post.count}} likes</p>
        {% if Posts.user_posts.id == request.session.user_id %}
          <p>you created this secret</p>
        {% elif not secret.liked %}
          <a href="/posting/{{secret.id}}/likes">Like</a>
        {% else %}
            <p>you have liked this secret</p>
            {% endif %}

        </form>
      </div>
    {% endfor %}
  </body>
</html>
